.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog a {
  color: #fff;
  text-decoration: none;
}
.dialog .active {
  color: gold;
}

.dialogItems {
  padding: 10px;
}
.dialogItems .active {
  color: gold;
}

.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  color: #c8317f;
}

.messageEven {
  align-self: flex-end;
}
